nav {
    border-bottom: #EEE solid 1px;
    display: table;
    width: 100%;
}

nav .ctrl {
    width: 48%;
    margin: 0px;
    padding: 10px 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

nav .ctrl h3 {
    margin: 0;
    padding: 5px;
    min-width: 120px;
    max-width: 200px;
    
    display: inline-block;
    width: 60%;
    background-color: white;
    transition: background-color 0.1s linear;
    cursor: pointer;
}

nav .ctrl#prayer-warrior-ctrl h3 {
    border: 3px solid rgb(103, 151, 255);
    color: rgb(103, 151, 255);
    background-color: white;
}

nav .ctrl#prayer-warrior-ctrl h3:hover {
    background-color: rgb(103, 151, 255);
    color:white;
}

nav .ctrl#prayer-warrior-ctrl h3:active {
    background-color: white;
    color: rgb(103, 151, 255);
}

nav .ctrl#date-picker-ctrl select#date-picker {
    width: 60%;
    text-align: center;
    text-align-last: center;
    border: 3px solid rgb(255, 144, 122);
    color: rgb(255, 144, 122);
    height: 29px;
    min-width: 120px;
    max-width: 200px;
    background-color: white;
    outline: none;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: normal;
    border-radius: 0px;
}